attrs==22.1.0
BeautifulSoup==3.2.2
beautifulsoup4==4.11.1
boto3==1.35.96
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
Cython==3.0.12
defusedxml==0.7.1
dl==0.1.0
docutils==0.21.2
faiss==1.5.3
filelock==3.18.0
Flask==2.2.2
html5lib==1.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.0.3
jnius==1.1.0
keybert==0.9.0
keyring==25.6.0
lxml_html_clean==0.4.1
numpy==2.2.4
olefile==0.47
ordereddict==1.1
protobuf==6.30.2
pyOpenSSL==25.0.0
PyQt6==6.8.1
PySide6==6.8.3
redis==5.2.1
scikit_learn==1.6.1
sentence_transformers==4.0.1
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
